<section class="flex nowrap" *ngIf="manifest">
    <div class="image mat-elevation-z2" [ngStyle]="{'background-image': 'url('+manifest.image+')'}"></div>

    <div class="flex column container">
        <div class="flex nowrap">
            <div class="flex column">
                <h2>{{manifest.name}}</h2>
                <p>Owner by <a [href]="'https://polygonscan.com/address/' + dapp.owner">{{dapp.owner}}</a></p>
            </div>
            <div class="flex-space"></div>
            <button mat-icon-button matTooltip="Share" [matMenuTriggerFor]="share">
                <mat-icon>share</mat-icon>
            </button>

            <mat-menu #share="matMenu">
                <button mat-menu-item>
                    <mat-icon>link</mat-icon>
                    Copy link
                </button>
            </mat-menu>
        </div>
        <br><br>
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Description
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    {{manifest.description}}
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <div class="flex wrap">
            <mat-card *ngFor="let attr of manifest.attributes">
                <div class="flex column ai-c jc-c">
                    <strong>{{attr.trait_type}}</strong>
                    <span>{{attr.value}}</span>
                </div>
            </mat-card>
        </div>
    </div>
</section>