/* You can add global styles to this file, and also import other style files */

@import "./styles/root.scss";
@import "./styles/flex.scss";
@import "./styles/material.scss";

* {
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-step-header:hover {
    background-color: transparent !important;
}