section {
    width: 100vw;
    height: 100vh;

    div.logo {
        width: 200px;
        height: 200px;

        background-image: url('https://avatars.githubusercontent.com/u/96562526?v=4');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        margin-bottom: 50px;
    }

    mat-progress-bar {
        width: 15vw;
    }
}